# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# IDE files
.vscode/
.idea/

# Dependency directories
node_modules/
vendor/

# Logs
*.log
npm-debug.log*

# Environment variables
.env
.env.local